<!DOCTYPE html>
<html lang="pt-br">
<head>
   
    <title>Instagram</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <div class="banner">
            <img src="img/banner-login.png" alt="Smartphones">
            <p><b>Cadastre-se para ver fotos dos seus amigos</b></p>
        </div>
        <div class="registro">
            <img src="img/logo.png" alt="Instagrem" class="logo">
            <form>
                <input type="nome" name="nome" id="nome" placeholder="Digite seu nome">
                <input type="email" name="email" id="email" placeholder="Digite seu email">
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
                <input type="password" name="senha" id="senha" placeholder="Confirme sua senha">
                <button type="submit">Cadastre-se</button> 
                <p>Ao se cadastrar, você concorda com nossos <strong>Termos, Politica de Dados e Politicas de Cookies.</strong></p>
            </form>
            <div class="conectar">
                <p>Tem uma conta? <a href="login.html">Cadastre-se</a> </p>
            </div>
        </div>
    </main>
</body>
</html>